/* Phonebook */
@import url(https://fonts.googleapis.com/css?family=Roboto:400,300);

body {
	font-family: 'Roboto', sans-serif;
	background: url(../img/background.jpg) no-repeat;
	background-size: cover;
	background-position: 0px 70px;
}

.logo {
	width: 180px;
    padding: 10px 15px 0px;
}

.header p {
	position: absolute;
    right: 60px;
    top: 15px;
    font: italic 14px 'Roboto';
}

.container {
	padding: 0px 40px;
	height:100%;
}

.pure-u-1-3 {
	text-align:center;
}

.box {
	width:350px;
	height: auto;
	margin: 0 auto;
	padding: 0px 10px;
	background-color: #eee;
	border-radius:4px;
	padding-bottom: 15px;
}

.box h2 {
	font: bold 26px 'Roboto';
	padding-top:30px;
	color: #777;
}

.box h2 i {
	color: #0078E7;
}

.pure-form .pure-group input {
	width:100%;
}

.pure-form .pure-input-1-3 {
	position: relative;
	bottom: -40px;
}

.pure-table td {
	font-size:14px;
}

.pure-table td {
	background-color: #fff;
}

.fa {
	padding-right:10px;
}